<!-- model_choice.html -->
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Model Selection</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style1.css') }}">
    </head>
<body>
    <h2>Choose a Model</h2>
    <form method="post" action="/model_choice" enctype="multipart/form-data">
    <input type="hidden" name="file" value="{{ file_path }}">
    <label for="model_choice">Select a model:</label>
    <select name="model_choice" id="model_choice" required>
        <option value="vit">ViT</option>
        <option value="yolo">YOLO</option>
    </select>
    <input type="submit" value="Submit">
</form>
<p style="margin-top: 24px; text-align: center; color: #000000;">
    ViT: Model will return predicted classes as text
    </p>
<p style="margin-top: 24px; text-align: center; color: #000000;">
    YOLO: Model will return image with bounding box and label
    </p>
</body>
</html>


