<!-- model_choice.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Model Selection</title>
</head>
<body>
    <h2>Choose a Model</h2>
<form action="{{ url_for('model_choice') }}" method="post">
    <input type="hidden" name="file" value="{{ file_path }}">
    <label for="model_choice">Select a model:</label>
    <select name="model_choice" id="model_choice" required>
        <option value="vit">ViT</option>
        <option value="yolo">YOLO</option>
    </select>
    <input type="submit" value="Submit">
</form>
</body>
</html>


